[data-component="cf-m4-select"] {
  position: relative;
  background: none;

  select {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
  }

  .select-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    z-index: 0;

    .button-label {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &.is-expanded {
      .button-icon {
        transform: rotate(180deg);
      }
    }
  }

  .select-wrapper {
    position: relative;
  }

  .options-wrapper {
    width: 100%;
    left: 0;
    overflow: hidden;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;;
    position: absolute;
    background: #f1f1f1;
    z-index: 1;

    &.inverted {
      .scroll-container {
        margin-top: 0;
        padding-bottom: 0;
        padding-top: 2rem;
        margin-bottom: 2rem;
      }
    }
  }

  .scroll-container {
    height: auto;
    max-height: 33.6rem;
    overflow-y: scroll;
    position: relative;
  }

  .select-option > button {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 0 2rem;
    border: 0;
    cursor: pointer;

    .option-checkmark {
      display: none;
    }

    .button-label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      text-align: left;
    }

    &[aria-selected="true"] .option-checkmark {
      display: inline-block;
    }

    &:hover {
      background: $colorGrey02;
    }

    &.focus-visible:focus {
      outline: none;
    }
  }
}
