[data-component="cf-a2-button"] {
  height: 3.5rem;
  min-width: 3.5rem;
  cursor: pointer;
  text-decoration: none;
  border: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  background: $colorPrimaryTheme;
  color: #fff;
  font-size: 1.4rem;

  &[hidden] {
    display: none;
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.8;
  }

  // Sizes
  &.size-small {
    height: 2.8rem;
    min-width: 2.8rem;
    padding: 0.5rem;

    .button-icon {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  &.size-medium {
    height: 5rem;
    min-width: 5rem;
    padding: 1rem;

    .button-icon {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  // Icon alignments
  &.icon-alignment-left {
    flex-direction: row-reverse;

    .button-label + .button-icon {
      margin-right: 0.5rem;
    }
  }

  &.icon-alignment-right {
    .button-label + .button-icon {
      margin-left: 0.5rem;
    }
  }

  &:hover {
    background: darken($colorPrimaryTheme, 10%);
  }
}
