<link rel="stylesheet" href="./tabbed-content.css" />

<!--
Clicking a tab should show the related tab-content item.
This is a simple setup and just uses the index
-->

<div class="tabbed-content" data-component="tabbed-content">
  <ul class="nav nav-tabs">
    <!-- (How do/Can) we handle multiple refs with the same name? -->
    <li class="nav-item"><button class="nav-link active" data-ref="tab">Tab 1</button></li>
    <li class="nav-item"><button class="nav-link" data-ref="tab">Tab 2</button></li>
    <li class="nav-item"><button class="nav-link" data-ref="tab">Tab 3</button></li>
  </ul>

  <!--
  How do we handle large content batches (multiple complicated components)?
  - All content already rendered in the DOM
  - Lazy loading
  -->
  <div class="tab-content" data-ref="tab-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consequatur cum laboriosam
      voluptate voluptatibus. Alias aut autem eligendi perspiciatis provident quae quisquam sapiente
      sequi, vero voluptatibus. Dolores dolorum exercitationem voluptate.
    </p>
  </div>
  <div class="tab-content" data-ref="tab-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consequatur cum laboriosam
      voluptate voluptatibus. Alias aut autem eligendi perspiciatis provident quae quisquam sapiente
      sequi, vero voluptatibus. Dolores dolorum exercitationem voluptate.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consequatur cum laboriosam
      voluptate voluptatibus. Alias aut autem eligendi perspiciatis provident quae quisquam sapiente
      sequi, vero voluptatibus. Dolores dolorum exercitationem voluptate.
    </p>
  </div>
  <div class="tab-content" data-ref="tab-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consequatur cum laboriosam
      voluptate voluptatibus. Alias aut autem eligendi perspiciatis provident quae quisquam sapiente
      sequi, vero voluptatibus. Dolores dolorum exercitationem voluptate.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consequatur cum laboriosam
      voluptate voluptatibus. Alias aut autem eligendi perspiciatis provident quae quisquam sapiente
      sequi, vero voluptatibus. Dolores dolorum exercitationem voluptate.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consequatur cum laboriosam
      voluptate voluptatibus. Alias aut autem eligendi perspiciatis provident quae quisquam sapiente
      sequi, vero voluptatibus. Dolores dolorum exercitationem voluptate.
    </p>
  </div>
</div>
