[data-component="cf-m2-input-field"] {
  label {
    display: flex;
    flex-direction: column;
  }

  .input-label {
    @include copy-02;
    margin-bottom: 0.5rem;
  }

  .input-field {
    position: relative;

    input {
      @include copy-02;
      display: block;
      width: 100%;
      padding: 1rem;
      color: $colorGrey01;
      background-color: $colorWhite;
      background-clip: padding-box;
      border: 0.2rem solid $colorGrey02;
      border-radius: .25rem;
      transition: border-color $easeFast ease-in-out, box-shadow $easeFast ease-in-out;

      &[type="password"] {
        padding-right: 3.2rem
      }

      &[disabled="true"] {
        opacity: 0.8;
      }
    }
  }

  .view-password-button {
    position: absolute;
    top: 50%;
    right: 0.4rem;
    transform: translateY(-50%);
  }

  .input-note {
    @include copy-03;
    margin-top: 1rem;
  }
}
