html, body {
}
h1 {
  margin: 10px 0 0 20px;
}
.component-nav {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.component-info {
  padding: 8px 20px 8px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

