<link rel="stylesheet" href="./filter-products.css" />

<!--
A product overview with filtering

- Filtering could/should be in another component but will communicate with this one
- Currently stored some data (category/color) on the .card for each product so we have data to filter
- Perhaps a load more functionality?
- Could items be all loading via an API
-->

<div class="container-fluid filter-products" data-component="filter-products">
  <div class="row">
    <form class="col-sm-4" action="#">
      <fieldset class="form-fieldset">
        <legend>Categories</legend>
        <div class="form-group">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="category1" name="category[]" value="1">
            <label class="form-check-label" for="category1">Category 1</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="category2" name="category[]" value="2">
            <label class="form-check-label" for="category2">Category 2</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="category3" name="category[]" value="3">
            <label class="form-check-label" for="category3">Category 3</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="category4" name="category[]" value="4">
            <label class="form-check-label" for="category4">Category 4</label>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-fieldset">
        <legend>Colors</legend>
        <div class="form-group">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="color1" name="color[]" value="1">
            <label class="form-check-label" for="color1">Color 1</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="color2" name="color[]" value="2">
            <label class="form-check-label" for="color2">Color 2</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="color3" name="color[]" value="3">
            <label class="form-check-label" for="color3">Color 3</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="color4" name="color[]" value="4">
            <label class="form-check-label" for="color4">Color 4</label>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-fieldset">
        <legend>Pricing</legend>
        <div class="form-group">
          <select class="custom-select">
            <option selected>All prices</option>
            <option value="max100">< 100</option>
            <option value="max500">< 500</option>
            <option value="min500">> 500</option>
          </select>
        </div>
      </fieldset>
    </form>

    <div class="col-sm-8">
      <div class="container-fluid">
        <div class="row">

          <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card" data-category="1" data-color="1">
              <img class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card" data-category="2" data-color="2">
              <img class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card" data-category="1" data-color="1">
              <img class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card" data-category="3" data-color="3">
              <img class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card" data-category="4" data-color="4">
              <img class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card" data-category="1" data-color="1">
              <img class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
